@import "../../stylesheets/abstracts/variables";
@import "../../stylesheets/abstracts/extends";

.task {
  @extend %round;
  $self: &;
  background: #fcfcfc;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-gap: 2rem;
  align-items: flex-start;
  transition: background 0.2s ease-in-out;
  &:hover {
    background: #f1f7ff;

    #{$self}__icon {
      opacity: 0.8;
    }
  }
  &--editable {
    background: #f1f7ff;
  }
  &__text,
  &__input,
  &__delete {
    padding: 1rem;
  }
  &__text {
    line-height: 1.5;
  }
  &__delete {
    background: unset;
    border: unset;
    cursor: pointer;
    outline: none;
  }
  &__icon {
    width: 20px;
    opacity: 0.8;
    transition: all 0.2s ease-in-out;
    &:hover {
      transform: rotate(90deg);
    }
  }
  &__input {
    line-height: 1.5;
    box-shadow: unset;
    background: transparent;
    outline: none;
  }
}
