@import "../../stylesheets/abstracts/variables";
@import "../../stylesheets/abstracts/extends";
@import "../../stylesheets/abstracts/breakpoints";

.task {
  @extend %round;
  $self: &;
  background: $light-grey;
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-gap: 1rem;
  align-items: center;
  transition: background 0.2s ease-in-out;
  &:hover {
    background: $primary-color-light;

    #{$self}__icon {
      opacity: 0.8;
    }
  }
  &--editable {
    background: $primary-color-light;
  }
  &__text,
  &__input,
  &__delete {
    padding: 1rem;
  }
  &__text,
  &__input {
    line-height: 1.5;
    padding-left: unset;
    padding-right: unset;
  }
  &__delete {
    background: unset;
    border: unset;
    cursor: pointer;
    outline: none;
    &:hover {
      #{$self}__icon {
        transform: rotate(360deg);
        filter: invert(50%) sepia(99%) saturate(276%) hue-rotate(114deg) brightness(91%) contrast(85%);
      }
    }
  }
  &__icon {
    width: 20px;
    opacity: 0.75;
    transition: all 0.2s ease-in-out;
  }
  &__input {
    line-height: 1.5;
    box-shadow: unset;
    background: transparent;
    outline: none;
  }
}
